.body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
	box-sizing: border-box;
}

.h1 {
	font-weight: bold;
	margin: 0;
	box-sizing: border-box;
}

.p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	box-sizing: border-box;
}

.span {
	font-size: 12px;
	box-sizing: border-box;
}

.a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
	box-sizing: border-box;
}

.button {
	border-radius: 8px;
	border: 1px solid #1072B9;
	background-color: #1072B9;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	box-sizing: border-box;
}

.signUpContainer .button{
	border: 1px solid #990CC0;
	background-color: #990CC0;
	box-sizing: border-box;
}

.button:active {
	transform: scale(0.95);
	box-sizing: border-box;
}

.button:focus {
	outline: none;
	box-sizing: border-box;
}

.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	box-sizing: border-box;
}

.form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

.input {
	border-radius: 8px;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	outline:none;
	box-sizing: border-box;
}

.container {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 1px 16px rgba(13, 41, 62, 0.16);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	box-sizing: border-box;
}

.formContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	box-sizing: border-box;
}

.signInContainer {
	left: 0;
	width: 50%;
	z-index: 2;
	box-sizing: border-box;
}

.container.rightPanelActive .signInContainer {
	transform: translateX(100%);
	box-sizing: border-box;
}

.signUpContainer {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
	box-sizing: border-box;
}

.container.rightPanelActive .signUpContainer {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
	box-sizing: border-box;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
		box-sizing: border-box;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
		box-sizing: border-box;
	}
}

.overlayContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
	box-sizing: border-box;
}

.container.rightPanelActive .overlayContainer{
	transform: translateX(-100%);
	box-sizing: border-box;
}

.overlay {
	background: #1072B9;
	background: -webkit-linear-gradient(to right, #990CC0, #1072B9);
	background: linear-gradient(to right, #990CC0, #1072B9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	box-sizing: border-box;
}

.container.rightPanelActive .overlay {
  	transform: translateX(50%);
	box-sizing: border-box;
}

.overlayPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	box-sizing: border-box;
}

.overlayLeft {
	transform: translateX(-20%);
	box-sizing: border-box;
}

.container.rightPanelActive .overlayLeft {
	transform: translateX(0);
	box-sizing: border-box;
}

.overlayRight {
	right: 0;
	transform: translateX(0);
	box-sizing: border-box;
}

.container.rightPanelActive .overlayRight {
	transform: translateX(20%);
	box-sizing: border-box;
}

.socialContainer {
	margin: 20px 0;
	box-sizing: border-box;
}

.socialContainer .a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
}
/* 
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
	box-sizing: border-box;
}

footer p {
    margin: 10px 0;
	box-sizing: border-box;
}

footer i {
    color: red;
	box-sizing: border-box;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
	box-sizing: border-box;
} */