.Container {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #000; */
  position: fixed;
  top: 0;
  z-index: 9;
  background: #f7ffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.Auth {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Auth > img {
  height: 30px;
  width: 30px;
  /* margin-right: 10px; */
}
.Logo {
  margin-left: 25px;
}
.Login {
  margin-right: 25px;
  margin-left: 10px;
}
