.Container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 1144px;
  height: 155px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 16px rgba(13, 41, 62, 0.16);
  border-radius: 8px;
  text-align: left;
  justify-content: space-between;
}
.LeftDiv {
  margin-left: 25px;
}
.RightDiv {
  margin-right: 25px;
  /* align-items: right;
  justify-self: right; */
}
.Title {
  font-style: normal;
  color: #515151;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.Topic {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  margin-right: 15px;
  color: #1072b9;
}
.Difficulty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #8f8f8f;
}

.Easy {
  color: #00b300;
}

.Medium {
  color: #ffbf00;
}

.Hard {
  color: #ff0000;
}

/* .Difficulty > span {
  font-weight: 600;
  color: red;
} */

.Date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #515151;
}
.NotSolved {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 115px;
  height: 35px;
  background: #fffcb1;
  border-radius: 8px;
  color: #f88646;
}

.Solved {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 61px;
  height: 35px;
  background: #f4fff2;
  border-radius: 8px;
  color: #275808;
}

.CentreDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Link {
  text-decoration: none;
  color: #1072b9;
}
